body, html {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container {
  width: 100%;
  height: 100%;
  display : flex;
  align-items: center;
  justify-content: center;
}
canvas {
  z-index: 1;
  position: absolute;
}
.player-info{
  visibility: hidden;
  margin: auto;
  width:20%;
  height: 50%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.after-load {
  display:none;
}
h1.ui.header {
  font-size: 6rem;
}
.game-screen {
  width: 800px;
  height: 800px;
}
.score {
  width: 20%;
  height: 80%;
  margin: 0 auto;
  visibility: hidden;
}
h3 {
  position:absolute;
  bottom: 5%;
  left: 40%;
  z-index: 4;
}
#game-start {
  position: absolute;
  top: 25%;
  left : 40%;
  margin: 0 auto;
  z-index: 2;
}

#gameOver {
  display: none;
  margin: 0 auto;
  z-index: 4;
}
